/* Tab block */
.tabs>input {
    margin-bottom: 43px;
    font-size: 0;
    width: 16px;
    height: 16px;
  }

.tabs>label {
    margin-right: 90px;
}
  
  .tabs-content {
    display: none;
  
  }
  
  #tab-btn-1:checked~#content-1,
  #tab-btn-2:checked~#content-2,
  #tab-btn-3:checked~#content-3,
  #tab-btn-4:checked~#content-4 {
    display: block;
  }
  
.tabs--label {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--black);
    cursor: pointer;
    padding-left: 16px;

}

#tab-btn-1:checked+.tabs--label,
#tab-btn-2:checked+.tabs--label,
#tab-btn-3:checked+.tabs--label,
#tab-btn-4:checked+.tabs--label{
    font-weight: 700;
}
/*  */

.favorities-container {
    display: flex;
    flex-direction: column;
    padding: 15px 20px 15px 20px;
}

.favorities-container--descr {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    margin-bottom: 40px;

}

.tabs-content__list {
    display: flex;
    flex-wrap: wrap;

}

.card {
    width: 590px;
    position: relative;
    margin-bottom: 40px;
   
}

.card:not(:nth-child(2n)){
    margin-right: 220px;
}

.card-item {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--black);
    padding: 15px 175px 15px 20px;
    width: 550px;
    height: 100%;
    
}

.card-item--staff {
    font-family: "Forum", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-align: left;
    
}

.card-item--line{
    height: 1px;
    width: 60px;
    background-color: var(--sand);
    margin-bottom: 20px;
}

.card-item--bookname, .card-item--bookauthor {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 1.9px;
    text-align: left;
}

.card-item--bookname {
    text-transform: uppercase;
}

.card-item--bookauthor {
    margin-bottom: 18px;
}

.card-item--descr {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-align: left;
    margin-bottom: 15px;
    text-transform: capitalize;

}

.card-item--btn {
    font-family: "Inter", sans-serif;
    font-size: 10px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 1px;
    text-align: center;
    cursor: pointer;
    border: 1px solid var(--black);
    align-self: flex-start;
    margin-top: auto;
    padding: 9px 26px;
}

.card-item--book--img {
    width: 200px;
    height: 300px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.radiobtn {
    position: relative;
    cursor: pointer;
}

.radiobtn::before {
    position:absolute;
    content:'';
    top:-15px;
    right:-15px;
    left:-15px;
    bottom:-15px;

}
