.header-container {
    display: flex;
    background-color: var(--dark);
    justify-content: flex-end;
    padding: 20px;
}

.header-container--title {
font-family: 'Forum', sans-serif;
font-size: 30px;
font-weight: 400;
line-height: 50px;
letter-spacing: 0.02em;
text-align: left;
color: var(--white);
margin-right: auto;
}

.headerlist {
    display: flex;
    margin-right: 40px;
}

.headerlist-item:not(:last-child) {
    margin-right: 30px;
}

.headerlist-item--link {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: var(--white);
}