.welcome-container {
    background-image: url(../../img/image.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    width: 100%;
    position: relative;
    padding-top: 160px;
}

.welcome-container__hi--title {
    font-family: 'Forum';
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 3px;
    text-align: center;
    color: var(--white);
    text-transform: uppercase;

}

.welcome-container--img {
    height: 300px;
    width: 100%;
    background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.1) 100%);
    position:absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.welcome-container__hi {
    width: 600px;
    height: 220px;
    background-color: var(--dark);
    padding: 35px 40px;
}

