.coffesshop-container {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 13px;
}

.coffesshop-container--descr {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 40px;
    color: var(--black);
}

.coffeesshop-container__wrapper {
    display: flex;
}

.coffe-card {
    display: flex;
    flex-direction: column;
    width: 482px;
    padding-bottom: 20px;
}

.coffe-card2{
    align-items: flex-end;
}

.coffe-card:not(:last-child){
    margin-right: 480px;
}
.coffe-card2 .item-coffe{
    padding: 0;
}

.coffe-card2 .item-coffe--title {
    margin-right: 55px;
}

.coffe-card--title {
    font-family: "Forum", sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-align: left;
    color: var(--sand);
    margin-bottom: 40px;

}

.item-coffe {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 19px;
}

.item-coffe:not(:last-child){
    margin-bottom: 42px;
}

.item-coffe--title {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-align: left;
    color: var(--black);
    margin-right:auto;

}

.item-coffe--img {
    width: 100px;
    height: 1px;
    background-color: var(--sand);
    margin-right: 60px;
}

.item-coffe--price {
    font-family: "Forum", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-align: left;
    color: var(--black);

}

